:root {
    --gray-black: #1b1b1bff;
    --gray-white-gray: #f2f2f2ff;
    --gray-white: #FFFFFF;
    --space-unit: 8px;
    --size-maxcontent: 1414px;
    --space-fourunits: 32px;
    --space-doubleunit: 16px;
    --space-tripleunit: 24px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.display-link {
    display: contents;
}
/* Navigation Bar */
.navbar-container {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray-black);
}

.navbar {
    width: 100%;
    display: flex;
    max-width: var(--size-maxcontent);
    align-items: center;
    padding-top: var(--space-doubleunit);
    padding-left: var(--space-fourunits);
    padding-right: var(--space-fourunits);
    flex-direction: row;
    padding-bottom: var(--space-doubleunit);
    justify-content: space-between;
}

/* Top Left Logos in Navbar */
.textlogo {
    width: 100px;
    object-fit: cover;
    margin-right: var(--space-unit);
}

.penlogo {
    width: 50px;
    object-fit: cover;
}

/* Right Side Links */
.links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.nav-text {
    color: var(--gray-white-gray);
    margin-right: var(--space-tripleunit);
}

/* Footer */
.footer-container {
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    bottom: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray-black);
}

.footer {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    max-width: var(--size-maxcontent);
    align-items: center;
    padding-top: var(--space-tripleunit);
    padding-left: var(--space-tripleunit);
    padding-right: var(--space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--space-tripleunit);
    justify-content: center;
}

.footer-social-links {
    display: flex;
    margin-top: var(--space-tripleunit);
    align-items: center;
    margin-bottom: var(--space-tripleunit);
    flex-direction: row;
    justify-content: center;
}

.footer-image {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: var(--space-tripleunit);
    text-decoration: none;
}